<!DOCTYPE html>
<html>
  <head>
    <title>Elimina Presidente</title>
    <link rel="stylesheet" href="/css/stile.css" />
  </head>

  <body>
    <header>
      <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${user}">
        <a href="/login">Login</a>
      </div>
    </header>

    <h1>Elimina Presidente</h1>

    <div th:if="${presidents}">
      <form action="/admin/president/delete" method="post">
        <label for="presidentId">Seleziona il presidente da eliminare:</label>
        <select name="Id" id="presidentId">
          <option value="" disabled selected>Seleziona un presidente</option>
          <!-- Itera sui presidenti per creare le opzioni del menu a tendina -->
          <th:block th:each="president : ${presidents}">
            <option th:value="${president.id}">
              <span th:text="${president.name} + ' ' + ${president.surname} + ' - CF: ' + ${president.cf}"></span>
              <span th:text="' (Nato il: ' + ${president.dateOfBirth} + ', ' + ${president.city} + ')'"></span>
            </option>
          </th:block>
        </select>
        <button type="submit">Elimina Presidente</button>
      </form>
    </div>

    <div th:if="${messaggioErrore}">
      <p th:text="${messaggioErrore}" style="color: red;"></p>
    </div>
    <div th:if="${messaggioSuccesso}">
      <p th:text="${messaggioSuccesso}" style="color: green;"></p>
    </div>

    <div>
      <a th:href="@{/}">Torna alla Home</a>
    </div>
  </body>
</html>
