<!DOCTYPE html>
<html>

<head>
	<title>
		SiwSport - Homepage
	</title>
	<link rel="stylesheet" href="/css/indexAdmin.css" />
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span> Benvenuto</span><span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
	</header>

	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/teamOperation">Operazioni sulle squadre</a>
	</div>
	<div>
		<a href="/admin/presidentOperation">Operazioni su presidenti</a>
	</div>
</body>

</html>