<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Squadre</title>
</head>
<body>
    <h1>Gestione Squadre</h1>

    <!-- Ancora per inserire una nuova squadra -->
    <a th:href="@{/admin/formNewTeam}">Inserisci Nuova Squadra</a>
    <br>

    <!-- Ancora per aggiornare una squadra esistente -->
    <a th:href="@{/admin/selectTeamToEdit}">Aggiorna Squadra Esistente</a>
    
    <br>

    <!-- Ancora per visualizzare tutte le squadre -->
    <a th:href="@{/team}">Visualizza Tutte le Squadre</a>
</body>
<div>
        <a href="/admin/indexAdmin">Torna alla home amministratore</a>
    </div>
</html>
