body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #333;
    text-align: center;
    padding: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #fff;
}

header div {
    display: flex;
    align-items: center;
}

header span {
    font-size: 1.2em;
    margin-right: 20px;
    color: #fff;
}

header a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    color: #fff;
    background-color: #ff4081;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

header a:hover {
    background-color: #e91e63;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 1.2em;
}

ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

ul li span {
    display: inline-block;
}

ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #6a11cb;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

ul li a:hover {
    background-color: #2575fc;
}

div a {
    display: inline-block;
    width: 350px; /* Larghezza aumentata */
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    color: #fff;
    background-color: #6a11cb;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    margin-top: 30px;
    background-image: linear-gradient(45deg, #6a11cb 25%, transparent 25%, transparent 50%, #6a11cb 50%, #6a11cb 75%, transparent 75%, transparent);
    background-size: 28.28px 28.28px;
}

div a:hover {
    background-color: #2575fc;
    background-image: linear-gradient(45deg, #2575fc 25%, transparent 25%, transparent 50%, #2575fc 50%, #2575fc 75%, transparent 75%, transparent);
}


p {
    color: #fff;
    font-size: 1.2em;
}

.logout-btn {
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    color: #fff;
    background-color: #6a11cb;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: linear-gradient(45deg, #6a11cb 25%, transparent 25%, transparent 50%, #6a11cb 50%, #6a11cb 75%, transparent 75%, transparent);
    background-size: 28.28px 28.28px;}

.logout-btn:hover {
     background-color: #2575fc;
     background-image: linear-gradient(45deg, #2575fc 25%, transparent 25%, transparent 50%, #2575fc 50%, #2575fc 75%, transparent 75%, transparent);
}

