<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SiwSport - Login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
     <header>
    <div th:if="${userDetails}">
        <span th:text="${userDetails.username}">Username</span> 
        <a href="/logout" class="logout-btn">Logout</a> <!-- Aggiunto la classe logout-btn per poterlo gestire meglio con css -->
    </div>
</header>

    <h1>Login</h1>

    <form th:action="@{/login}" method="POST">
        <!-- Etichetta per il campo Username -->
        <div>
            <label for="username">Username:</label>
            <input id="username" name="username" type="text" required />
        </div>

        <!-- Etichetta per il campo Password -->
        <div>
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required />
        </div>

        <!-- Messaggio di errore in caso di credenziali errate -->
        <div>
            <span th:if="${param.error != null}">Username o password errati</span>
        </div>
        
        <!-- Pulsante di login -->
        <div>
            <button type="submit">Login</button>
        </div>
    </form>

    <!-- Bottone per tornare alla home -->
	<div class="back-button-container">
		<a class="back-button" th:href="@{/}">Torna alla HomePage</a>
	</div>
   
</body>

</html>